@import url("./shared_animtion.css");

.box{
    height:70vh;
    width:80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid black;
}

.box2{
    height:70vh;
    width:50%;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid black;
}

.container1{
    /* height: */
    height:30vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: cener;
    /* background-color: beige; */
    
}

.outside1{
    height:70vh;
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    /* border:2px solid black; */
    backdrop-filter: blur(50px);

}
.study{
    height:10vh;
    width:100%;
    align-items: center;
    display: flex;
    justify-content: center;
    color:#0F2167;
    font-size:4cqmax;
    font-weight:200;
}

.outside2{
    height:50vh;
    width:80%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* border:2px solid black; */
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 1px 15px rgb(114, 109, 109);
    animation: fadeIn 2s ease-in-out;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    backdrop-filter: blur(10px);

    z-index: 1;
}


.acc{
    width:100%;
    /* background-color: rgb(244, 245, 246); */
    /* border:2px solid black; */
}
.acc:hover{
    border:1px solid black;
    
}
.inside{
    /* border:2px solid black; */
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:1vh;
}






