@import url("./shared_animtion.css");

:root{
    /* --blueBtn: #0560FD; */
    /* --blueBtn: #69768b; */
    --blueBtn: #264653;
    ;

}
.activeOpenBtn{
    background-color: rgb(78, 26, 26);
    background-color: var(--blueBtn);
    color: white;
    transition: 0.2s all ease-in-out;
    border-radius: 7px 7px 7px 7px;
    transform: translateX(-2%) scale(0.8);
}

.activeCloseBtn{
    /* background-color: rgb(233, 5, 5); */
    background-color: #264653;
    background-color: var(--blueBtn);
    color: white;
    transition: 0.2s all ease-in-out;
    border-radius: 7px 7px 7px 7px;
    transform: scale(0.8);

}

.sideMenuContainer{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
   
    
}

.sideFloatClass{
    opacity: 0;
    animation-name: slideLeft;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    margin-top: 2%;
    /* background-color: #264653; */
}

.sideMenuContainer .sideMenuLinks{
    text-decoration: none;
    color: inherit;
    background-color: #264653;
    
}

.HomeContainer{
    display: flex;
    height: 100vh;
    /* background-image: url("../images/background2.jpg"); */
    /* opacity: 5px; */
    /* background-image: url("../images/background.jpg"); */
    /* background-image: url("../images/blacknew.jpg"); */

    /* background-image: url("../images/bg.jpg"); */
    /* background-image: url("../images/blackbg.jpg"); */
    /* background-image: url("../images/grad.jpg"); */

    /* background-image: url("../images/blue.jpg"); */
    /* background-color: #9AD0E6; */
    /* background-color: #252422; */
    background-image: url('../images/alexander-grey-62vi3TG5EDg-unsplash.jpg');

    /* background-color: #0b0c10; */
    /* background-color: #1f2833; */
    /* background-color: #c5c6c7; */



    background-repeat: no-repeat;
    background-size:cover;
    backdrop-filter: blur(10px);



    /* background:linear-gradient(-45deg,#ee7752,#e73c7e,#23a6d5,#23d5ab);
    background-size: 400% 400%;
    animation:gradien 5s ease infinite; */
}



@keyframes gradient{
    0%{
        background-position:0% 50%;
        
    }
    50%{
        background-position:100% 50%;
        
    }
    100%{
        background-position:0% 50%;
        
    }
}




.AppBar{
    /* background: linear-gradient(to right , transparent, rgba(230, 221, 226, 0.5)); */
    /* background: linear-gradient(to right , transparent, rgba(253, 137, 197, 0.5)); */
    /* background: linear-gradient(to right , transparent, rgba(112, 88, 101, 0.5)); */
    /* background: linear-gradient(to right , transparent, rgba(170, 128, 150, 0.5)); */
    /* box-shadow: none; */
}
.SkeletonComponent{
    margin-top: 2%;
    margin-right: 1%;
    backdrop-filter: blur(3px);
    height: calc(100vh - 14%);
    overflow-x: hidden;
    overflow-y: auto;
    border-radius:  14px 14px 14px 14px;
    /* background-color: rgba(255, 255, 255, 0.5); */
    padding: 5%;
    
}
.SkeletonComponent .skeleton{
    border-radius:  14px 14px 14px 14px;
    background-color: rgba(255, 255, 255, 0.5);
}
.MainComponent{
    /* border: 2px solid red; */
    /* background-color: white; */
    border-radius:  14px 14px 14px 14px;
    padding: 1%;
    margin-top: 2%;
    margin-right: 1%;
    backdrop-filter: blur(3px);
    /* background-color: rgba(255, 255, 255, 0.4); */
    height: calc(100vh - 14%);
    overflow-x: hidden;
    overflow-y: auto;
    /* background-color: rgba(255, 255, 255, 0.3);  */
    
}

.AppBarText{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-shadow: 2px 2px 5px rgb(179, 176, 176);
}