/* @import url("./shared_animtion.css");

.work{
    height:70vh;
    width:80%;
    display:flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    align-self: center;
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode:both;
    
}
.outside{
    height:80vh;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    
    
}

.item-box{
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:5px;
}
.items{
    height:auto;
   
    border:2px solid black;
    border-radius: 5px 5px 5px 5px;
    
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
    animation-fill-mode:both;
 
}

.text{
    height:10vh;
    animation-name: slideLeft;
    animation-duration: 2s;
    animation-timing-function:ease-in;
    animation-fill-mode:both;
   
    
} */


* {
    padding: 0;
    margin: 0;
    
  }
.box1{
    height:80vh;
    width:100%;
    /* border:2px solid black; */
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.box2{
    height:10vh;
    width:100%;
    /* border:1px solid black; */
    color:#0F2167;
    font-size:4cqmax;
    font-weight:200;
}
.box3{
    height:60vh;
    width:100%;
    /* border:1px solid red; */
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;

}

 